.cards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Titillium Web", sans-serif;
  align-items: flex-start;
}

.card {
  /* width: 100px;
  height: 100px;
  margin: 100px; */
}
