/* .cards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Titillium Web", sans-serif;
  align-items: flex-start;
}

.card {
}

.custom-typography p {
  margin: 0.5rem; 
} */
